email-validator
# requirements.txt for auto-reload
pymongo>=4.5.0
fastapi
uvicorn[standard]
motor>=3.3.0
passlib[bcrypt]
python-jose
python-multipart
python-dotenv
authlib
httpx
watchdog
itsdangerous
